/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #173802;
}

/* Style the navigation bar */
nav {
    background-color: #030300;
    color: #fff;
    padding: 5px;
    text-align: center;
    height: 6000px
    width: 200px
    float: left;
    line-height: 30px

}

nav a {
    text-decoration: none;
    color: #ff6600;
}

nav a:hover {
    color: #fff;
}

/* Style the heading */
h1 {
    text-align: center;
    color: #c3ee06;
}

/* Style the meme image */
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 3px solid #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

